/* General Styles */
body {
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3366cc;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    margin-top: 10px;
        margin-bottom: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    background-color: #333;
    padding: 15px;
    border-radius: 25em;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    -webkit-border-radius: 25em;
    -moz-border-radius: 25em;
    -ms-border-radius: 25em;
    -o-border-radius: 25em;

}

nav a:hover {
    color: #f7f7f7;
}


main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3366cc;
}

/* Requirements and Features Section */
section {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

ul li {
  margin-bottom: 1.2rem;
}

.icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/* Styling for Feature Description Paragraphs */
.features p {
  margin-top: 0.5rem;
}

/* Background Design */
body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

/* Animation for Subtitles */
h2 {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  section {
    padding: 1.5rem;
  }
}

section#team {
  margin-top: 2rem;
}

section#team h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.role {
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.role h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.role p {
  font-size: 1rem;
  line-height: 1.6;
}
